.kontejner{

    display: flex;
    flex-direction: row;
    flex-basis: 500px;
    align-items: center;
    height: 500px;
    padding: 3%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.kontejnerForma {
    display:flex;
    flex-direction: column;
    border:  0.1px solid gray;
    flex-basis: 100px;
    flex-grow: 0.5;
    height: 400px;
    justify-content:space-evenly;
    align-content: center;
    margin-right: 50px;
    box-shadow: 5px 5px 2px rgb(201, 201, 201);
    
}
.kontejnerNedelja {
    
    display:inline-flex;
    flex-direction: row;
    flex-basis: 200px;
    flex-grow: 7;
    box-shadow: 5px 5px 2px rgb(201, 201, 201);
    height: 500px;
}
.kontejnerDan {
    display: flex;
    flex-grow: 1;
    border:  1px solid black;
    flex-direction: column;
    flex-basis: 200px;
    margin: 0%;
    min-height: 200px;
}
.obaveza{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: medium;
    opacity: 0.8;

}
.hitno{
    
    font-weight: bolder;
    text-decoration: underline;
}
.dugme {
    height: 5%;
    width: 50%;
    align-self: center;
}
