.kontejner{

    display: flex;
    flex-direction: row;
    flex-basis: 500px;
    align-items: center;
    justify-content: center;
    height: 500px;
    padding: 15px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-wrap: wrap;
}
.kontejnerForma {
    display:flex;
    flex-direction: column;
    border:  0.1px solid gray;
    flex-grow: 0.5;
    height: 400px;
    justify-content:space-evenly;
    align-content: center;
    margin-bottom: 30px;
    margin-left: 1%;
    box-shadow: 5px 5px 2px rgb(201, 201, 201);
    
}
.kontejnerNedelja {
    
    display:inline-flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 10;
    height: 500px;
    margin: 1%;
}
.kontejnerDan {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 150px;
    border:  1px solid black;
    flex-direction: column;
    margin-left: 12px;
    margin-bottom: 12px;
    height: 400px;
}
.obaveza{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    flex-shrink: 1;
    font-size: medium;
    opacity: 0.8;

}
.hitno{
    
    font-weight: bolder;
    text-decoration: underline;
}
.dugme {
    height: 5%;
    width: 50%;
    align-self: center;
}
.najveciKontejner {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.naslovStranice, .naslovForme {
    font-style: italic;
}
@media only screen and (max-width: 1580px) {
    .kontejnerDan {
        flex-grow:0;
        height: 300px;
        flex-basis: 300px;
    }
}

@media only screen and (max-width: 680px){
    
   
}
